<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>s1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 553}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 1}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 1}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{547, 1}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{729, 1}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 185}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 185}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 185}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{547, 185}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{729, 185}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 369}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 369}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 369}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{547, 369}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{729, 369}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 553}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>s17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 182}</string>
			<key>spriteSourceSize</key>
			<string>{180, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {180, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>atlas_button.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>hd</string>
			<key>textureFileName</key>
			<string>atlas_button-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>atlas_button-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
