<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>dead-end.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 49}</string>
			<key>spriteSourceSize</key>
			<string>{31, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{53, 78}, {31, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>metalwall_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 50}</string>
			<key>spriteSourceSize</key>
			<string>{20, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 79}, {20, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>metalwall_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 100}</string>
			<key>spriteSourceSize</key>
			<string>{20, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 129}, {20, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>metalwall_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 150}</string>
			<key>spriteSourceSize</key>
			<string>{20, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 104}, {20, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>metalwall_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 200}</string>
			<key>spriteSourceSize</key>
			<string>{20, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 104}, {20, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>palette_1__1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 24}</string>
			<key>spriteSourceSize</key>
			<string>{50, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 78}, {50, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>palette_1__2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 24}</string>
			<key>spriteSourceSize</key>
			<string>{100, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{153, 27}, {100, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>palette_1__3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 24}</string>
			<key>spriteSourceSize</key>
			<string>{150, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 52}, {150, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>palette_2__1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 24}</string>
			<key>spriteSourceSize</key>
			<string>{50, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 1}, {50, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>palette_2__2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 24}</string>
			<key>spriteSourceSize</key>
			<string>{100, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{153, 53}, {100, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>palette_2__3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 24}</string>
			<key>spriteSourceSize</key>
			<string>{150, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 26}, {150, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plateform.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {181, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{181, 22}</string>
			<key>spriteSourceSize</key>
			<string>{181, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {181, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rockwall_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 50}</string>
			<key>spriteSourceSize</key>
			<string>{20, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 79}, {20, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rockwall_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 100}</string>
			<key>spriteSourceSize</key>
			<string>{20, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 78}, {20, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rockwall_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 150}</string>
			<key>spriteSourceSize</key>
			<string>{20, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 78}, {20, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rockwall_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 200}</string>
			<key>spriteSourceSize</key>
			<string>{20, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 306}, {20, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>atlas_wall-palette.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>normal</string>
			<key>textureFileName</key>
			<string>atlas_wall-palette</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>atlas_wall-palette</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>